<h1>New Track</h1>
<br>
<form action="<%= tracks_url(album: params[:album_id], band: params[:band_id]) %>" method="POST">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="track_name">Track name: </label>
  <input type="text" name="track[name]" id="track_name">
  <br>
  <label for="track_lyrics">Track lyrics: </label>
  <textarea name="track[lyrics]" id="track_lyrics"></textarea>
  <br>
  <label for="track_type"> </label>
  <select name="track[track_type]" id="track_type">
    <option value="bonus">bonus</option>
    <option value="regular">regular</option>
  </select>
  <br><br>
  <input type="submit" value="Create">
</form>